* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.meni {
    background-color: cornflowerBlue;
    position: relative;
    height: 35%;
}

.meni ul {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.meni li {
    display: inline;
    padding: 5px;
}

.meni li a {
    color: black;
}

.logo {
    background-color: blue;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 44%;
    left: 44%;
    bottom: 25px;
}

#saleLink{
    text-decoration: none;
}

.meni li a:hover{
    color: aqua;
}

.slika{
    height: 100%;
    overflow: hidden;
    position: relative;
}

#logoImg{
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

.sadrzaj {
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
}

.slikeZaPocetna{
    width: 300px;
    height: 200px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
  }

  button{
    background-color: lightsteelblue;
    border: 4px solid darkblue;
    color: darkblue;
    width: 292px;
    height: 30px;
    /*padding: 15px 32px;*/
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  #nevidljivi{
      display: block;
  }

@media only screen and (min-width: 790px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
  }
  @media only screen and (min-width: 970px) {
    .grid-container {
        grid-template-columns: auto auto auto;
      }
  }

  @media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .logo{
        bottom: 135px;
    }
    .slikeZaPocetna{
        width: 240px;
        height: 160px;
    }
    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
      }

}

