* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.meni {
    background-color: cornflowerBlue;
    position: relative;
    height: 35%;
}

.meni ul {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.meni li {
    display: inline;
    padding: 5px;

}

.meni li a {
    color: black;
}

.logo {
    background-color: blue;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 44%;
    left: 44%;
    bottom: 25px;
}

.slika{
    height: 100%;
    overflow: hidden;
    position: relative;
}

#logoImg{
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

#saleLink{
    text-decoration: none;
}

.meni li a:hover{
    color: aqua;
}

.sadrzaj {
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
    position: relative;
    height: 80%;
}

.labela{
    margin: auto;
    display: inline-block;
    width: 200px;
}


#pocetak, #kraj, #saleIzaberi{
    width: 115px;
    height: 30px;
}

.kalendarDiv{ 
    background-color: lightsteelblue;
    border: 1px solid darkblue;
    border-width: 5px;
    position: relative;
    top: 5px;
   /* left: 10px;
    right: 10px;*/
    display: table;
    margin: auto;
}

h1{
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.kalendarTabela{
    padding-left: 5px;
    padding-right: 20px;
    border-spacing: 20px;
}

.dani{
    border: 1px solid blue;
    border-width: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.tabelaCelija{
    border-collapse: collapse;
}

.datum{
    background-color: white;
    border: 1px solid blue;
    border-width: 2px;
    border-bottom-width: 1px;
    width: 50px;
}

.slobodna{
    background-color: lightgreen;
    border: 1px solid blue;
    border-width: 2px;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 20px;
   /* height:20px;
    width: 100px;*/
}

.zauzeta{
    background-color: red;
    border: 1px solid blue;
    border-width: 2px;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 20px;
   /* height:20px;
    width: 100px;*/
}

button{
  background-color: lightsteelblue;
  border: 4px solid darkblue;
  color: darkblue;
  width: 150px;
  height: 50px;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 7px;
  
}

#jedan{
    position: relative;
    left: -134px;
    margin-left: auto;
    
}
#dva{
    position: relative;
   right: -134px;
   margin-right: auto;
}



@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .logo{
        bottom: 135px;
    }

    .kalendarTabela tr:nth-child(1)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(2)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(3)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(3){
        display: none;
    }
    .kalendarTabela tr:nth-child(4)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(4){
        display: none;
    }
    .kalendarTabela tr:nth-child(5)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(5){
        display: none;
    }
    .kalendarTabela tr:nth-child(6)>*{
        display: block;
    }
    .kalendarTabela tr:nth-child(6){
        display: none;
    }
    .kalendarTabela{
        display: table-cell;
    }
   
    /*
    .kalendarTabela tr{
        display: block;
        float: left;
    }
    .kalendarTabela th,td{
        display: block;
    }
*/
    #jedan{
        position: relative;
        left: -70px;
        margin-left: auto;
    }
    #dva{
        position: relative;
       right: -70px;
       margin-right: auto;
    }
}
