* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.meni {
    background-color: cornflowerBlue;
    position: relative;
    height: 35%;
}

.meni ul {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.meni li {
    display: inline;
    padding: 5px;
}

.meni li a {
    color: black;
}

.logo {
    background-color: blue;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 44%;
    left: 44%;
    bottom: 25px;
}

.slika{
    height: 100%;
    overflow: hidden;
    position: relative;
}

#logoImg{
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

#saleLink{
    text-decoration: none;
}

.meni li a:hover{
    color: aqua;
}

.sadrzaj {
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
    height: 60%;
}

.tabelaSala, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,tr{
    width: 50px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.tabelaSala {
    padding: 10px;
    margin:0 auto;
}

th.bezBordera{
    border-left-style: hidden;
    border-top-style: hidden;
}

.slobodnaSala{
    background-color: lightgreen;
    text-align: left;
    vertical-align: top;
}

.zauzetaSala{
    background-color: lightcoral;
    text-align: left;
    vertical-align: top;
}

.kancelarija{
    background-color: lightgrey;
    text-align: left;
    vertical-align: top;
}

.sala{
    background-color: white;
    text-align: left;
    vertical-align: top;
}

.headerRedni{
    background-color: lightsteelblue;
    text-align: left;
    
}
th.headerRedni{
    width: 80px;
}

.headerSprat{
    background-color: lightslategray;
    text-align: right;
    font-weight: bold;
}

#prvi{
    background-color: lightslategray;
    text-align: center;
    font-weight: normal;
}

#first{
    vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
    .headerRedni {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .headerSprat {
        display: none;
    }
    #first, #prvi, #prviRed, #drugiRed{
        display: none;
    }
   
}
@media only screen and (max-width: 600px) {
    th.bezBordera{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .logo{
        bottom: 135px;
    }
}




