* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.meni {
    background-color: cornflowerBlue;
    position: relative;
    height: 35%;
}

.meni ul {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.meni li {
    display: inline;
    padding: 5px;

}

.meni li a {
    color: black;
}

.logo {
    background-color: blue;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 44%;
    left: 44%;
    bottom: 25px;
}

.slika{
    height: 100%;
    overflow: hidden;
    position: relative;
}

#logoImg{
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}
#saleLink{
    text-decoration: none;
}

.meni li a:hover{
    color: aqua;
}
.sadrzaj {
    padding: 10px;
    background-color: cornflowerblue;
}

.labela{
    display: inline-block;
    width: 100px;
}

#number{
    width: 180px;
    height: 20px;
}

@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .logo{
        bottom: 135px;
    }
    
.labela{
    display: block;
}
}

